.details-item {
    flex-direction: row;
    padding: 4px;
}

.details-label {
    color: rgb(208, 213, 243);
    margin: 4px 0 8px 0;
    padding: 0;
    white-space: normal;
}

.details-key-label {
    -unity-font-style: bold;
}

.details-value-label {
    margin-left: 4px;
    flex-shrink: 1;
}
